/*
Imports
---------------------------------------------------------------------- */

@import "compass";
@import "compass/reset";

/*
Vars
---------------------------------------------------------------------- */


$light-grey-border: #cddae6;
$intel-light-orange: #fed11c;
$intel-orange: #fbb731;
$intel-dark-blue: #074481;
$intel-medium-dark-blue: #1172c1;
$intel-medium-blue-top-gradient: #1992f5;
$intel-medium-light-blue: #00adef;
$intel-light-blue: #82d3f5;
$intel-green: #a7ce37;
$main-stage-light-blue: #188eef;
$main-stage-dark-blue: #1276c7;
$shadow-color: rgba(16, 32, 48, 0.2);
$dark-blue-gradient: linear-gradient($intel-medium-dark-blue, $intel-dark-blue);
$medium-blue-gradient: linear-gradient($intel-medium-blue-top-gradient, $intel-medium-dark-blue);
$light-blue-gradient: linear-gradient($intel-light-blue, $intel-medium-light-blue);
$main-stage-gradient: linear-gradient($main-stage-light-blue, $main-stage-dark-blue);
$orange-gradient: linear-gradient($intel-light-orange, $intel-orange);

$thin-font: "Clear Sans Thin";
$thin-font-file-name: "ClearSans-Thin";
$light-font: "Clear Sans Light";
$lightfont-file-name: "ClearSans-Light";
$regular-font: "Clear Sans Regular";
$regularfont-file-name: "ClearSans-Regular";
$bold-font: "Clear Sans Bold";
$boldfont-file-name: "ClearSans-Bold";

$app-height: 100vh;
$app-width: 100vw;
$gutter: 1.125vw;
$portrait-gutter: 2vw;
$vertical-spacer: 2vh;
$portrait-vertical-spacer: .9vh;
$feature-navigation-area-width: 30vw;
$horizontal-single-item-height: 12.4vh;
$vertical-single-item-height: 7.6vh; // 6.625
$vertical-main-nav-item-height: 5.25vh;
$featured-area-width: 66.625vw;
$featured-area-portrait-width: 100vw;
$featured-area-portrait-height: 48vh;
$shadow-distance: .3vw;
$carousel-item-height: 35vh;
$carousel-item-width: 18.75vw;
$main-nav-font-size: 2vw;
$feature-nav-label-font-size: 1.1vw;
$portrait-feature-nav-label-font-size: 1.4vh;
$feature-nav-font-size: 1.2vw;
$portrait-feature-nav-font-size: 1.5vh;
$content-device-gutter: 2.4vw 4vh;


/*
Mixins
---------------------------------------------------------------------- */

@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url("../font/#{$font-filename}.woff");
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin shadow {
  box-shadow: $shadow-distance $shadow-distance 0 0 $shadow-color;
}

/*
Includes
---------------------------------------------------------------------- */

@include declare-font-face($regular-font, $regularfont-file-name);
@include declare-font-face($light-font, $lightfont-file-name);
@include declare-font-face($thin-font, $thin-font-file-name);
@include declare-font-face($bold-font, $boldfont-file-name);

/*
Elements
---------------------------------------------------------------------- */

/*   ===   TYPOGRAPHY
===============================   */

.regular-font {
  font-family: $regular-font;
}

.thin-font {
  font-family: $thin-font;
}

.light-font {
  font-family: $light-font;
}

.bold-font {
  font-family: $bold-font;
}

/*   ===   GLOBALS   
===============================   */

html,body {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  position: relative;
}


img {
  max-height: 100%;
  max-width: 100%;
}

.dark-blue-gradient {
  @include background-image($dark-blue-gradient);
}
.medium-blue-gradient {
  @include background-image($medium-blue-gradient);
}
.light-blue-gradient {
  @include background-image($light-blue-gradient);
}
.orange-gradient {
  @include background-image($orange-gradient);
}
.main-stage-gradient {
  @include background-image($main-stage-gradient);
}

.border {
  border: 1px solid $light-grey-border;
  box-sizing: border-box;
}

.interactive {
  @include shadow;
  cursor: pointer;
}

/*   ===   LAYOUT
===============================   */

.ipos-wrapper {
  color: #fff;
  height: $app-height;
  width: $app-width;
  > div {
    margin: $vertical-spacer 0 0 $gutter;
    @media screen and (orientation: portrait) { 
      margin: $portrait-vertical-spacer 0 0 $portrait-gutter;
    }
  }
  .logo {
    @extend .border;
    float: left;
    height: $horizontal-single-item-height;
    line-height: $horizontal-single-item-height;
    text-align: center;
    width: $feature-navigation-area-width;
    img {
      @include vertical-align;
    }
    @media screen and (orientation: portrait) { 
      height: $vertical-single-item-height;
      line-height: $vertical-single-item-height;
      width: $featured-area-portrait-width - $portrait-gutter*2;
    }
  }
  .feature-navigation-area {
    float: left;
    margin-top: 0;
    div {
      @extend .regular-font;
      //margin-bottom: $vertical-spacer;
      @media screen and (orientation: portrait) { 
        //margin-bottom: $portrait-vertical-spacer;
      }
    }
    .menu-item {
      margin-bottom: 2vh;
      @media screen and (orientation: portrait) { 
        margin-bottom: $portrait-vertical-spacer;
      }
    }
    .features-nav {
      height: $horizontal-single-item-height*5 + $vertical-spacer*3;
      margin-bottom: 0;
      margin-top: $vertical-spacer;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      @media screen and (orientation: portrait) { 
        height: $vertical-single-item-height*3 + $portrait-vertical-spacer*2;
        margin-top: $portrait-vertical-spacer;
        width: 100vw;
      }
      .features-nav::-webkit-scrollbar {
        display: none;
      }
      .info-card {
        background: #fff;
        height: 68vh;
        margin: 0px;
        position: absolute;
        top:100%;
        transition: 1s;
        width: $feature-navigation-area-width;
        @media screen and (orientation: portrait) {  
          width: 97vw;
        }
        &.show {
        	top: $horizontal-single-item-height + $vertical-spacer*2;
        	@media screen and (orientation: portrait) { /*dmoxin*/
        		top:$horizontal-single-item-height + $vertical-spacer*2.5 + $featured-area-portrait-height;
        	}
        }
        .info-card-prod {
          display: block;
          margin: 0 auto 20px;
          width:20vh; 
          height:20vh;
          @media screen and (orientation: portrait) { 
          	float:left;
          	width:10vh; 
            height:10vh;
          }
        }
        .main-stage-gradient {
          height: 16.5vw;
          padding: 20px 15px;
          @media screen and (orientation: portrait) {
          	float:left;
          	height: $vertical-single-item-height*3 + $portrait-vertical-spacer*2; /* dmoxin */
  	  	    width: 28vw;
          }
        }
        h2 { 
          font-size:3vh; padding-bottom: 2vh;
          @media screen and (orientation: portrait) {
          	font-size:2vh;
          }
        }
        h3 { 
          font-size:2vh;
        }
        sup { 
          font-size:2vh; 
          margin-top: -4.5vh
        }
        .content {
          color: #1172c1;
          font-size: 2vh;
          line-height: 4vh;
          padding: 15px;
          @media screen and (orientation: portrait) {
          	float:left;
  	  	    width: 55vw;
  	  	    h2 {
  	  	      font-size: 2.1vh;
  	  	    }
  	  	    p {
  	  	      font-size: 1.8vh;
  	  	      line-height: 2vh;
  	  	    }
          }
        }
        @media screen and (orientation: portrait) { 
          height: $vertical-single-item-height*3 + $portrait-vertical-spacer; /* dmoxin */
          overflow: hidden;
          width: 96vw; /* dmoxin */
        }
      }
      .info-card-closer{
        position:absolute;
        right: -0.5em;
        top: -0.5em;
        height:2em;
        width:2em;
        padding:0.5em;
      }
      .feature-nav-active {
        @include background-image($orange-gradient);
      }
    }
    .features-nav::-webkit-scrollbar {
      display:none;
    }
    .feature-nav-label {
      @extend .regular-font;
      display: block;
      font-size: $feature-nav-label-font-size;
      margin-bottom: .2vh;
      @media screen and (orientation: portrait) { 
        font-size: $portrait-feature-nav-label-font-size;
      }
    }
    .single-height {
      clear: both;
      height: $horizontal-single-item-height;
      width: $feature-navigation-area-width;
      @media screen and (orientation: portrait) { 
        height: $vertical-single-item-height;
        width: $app-width;
      }
      .nav-icon, .callout {
        display: inline-block;
        float: left;
        margin: $vertical-spacer*.75;
        max-height: $horizontal-single-item-height - $vertical-spacer*2;
        max-width: $horizontal-single-item-height - $vertical-spacer*2;
        @media screen and (orientation: portrait) { 
          margin: $portrait-vertical-spacer*.75;
          max-height: $vertical-single-item-height - $portrait-vertical-spacer*2;
          max-width: $vertical-single-item-height - $portrait-vertical-spacer*2;
        }
      }
      p {
        @include vertical-align;
        @extend .bold-font;
        display: inline-block;
        font-size: $feature-nav-font-size;
        @media screen and (orientation: portrait) { 
          font-size: $portrait-feature-nav-font-size;
        }
      }
      .callout {
        @extend .thin-font;
        font-size: 6vh;
        letter-spacing: -.25vw;
        max-width: 33% !important;
        text-align: center;
        @media screen and (orientation: portrait) { 
          font-size: 4vh;
          transform: translateY(25%);
          top: 50%;
          max-width: 70% !important;
        }
        span {
          display: inline;
          font-size: 3vh;
          margin: 0 0 0 5px;
          vertical-align: super;
          @media screen and (orientation: portrait) { 
            font-size: 1vh;
          }
        }
        & + p {
          text-transform: uppercase;
        }
      }
      .centered {
        .callout {
          font-size: 5vh;
          margin: $vertical-spacer*.75 0 0 !important;
          max-width: 100% !important;
          width: 100%;
          @media screen and (orientation: portrait) { 
            font-size: 4vh;
            max-width: 100% !important;
            width: auto;
          }
          span {
            display: inline;
            font-size: 3vh;
            vertical-align: super;
            @media screen and (orientation: portrait) { 
              font-size: 1vh;
            }
          }
          & + p {
            display: inline-block;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            top: auto;
            transform: translateY(0);
            width: 100%;
          }
        }
      }
    }
    .half-width {
      clear: both;
      div {
        float: left;
        width: $feature-navigation-area-width/2 - $gutter/2;
        &:first-child {
          margin-right: $gutter;
        }
      }
      .half-width-single-holder {
        //height: 0;
        .single-height {
          height: $horizontal-single-item-height - $vertical-spacer/2;
        }
      }
      .single-height {
        clear: right;
        .nav-icon, .callout {
          display: inline-block;
          float: left;
          margin: $vertical-spacer*.75;
          max-height: $horizontal-single-item-height - $vertical-spacer*2;
          max-width: $horizontal-single-item-height - $vertical-spacer*2;
        }
        p {
          @include vertical-align;
          display: inline-block;
        }
      }
      .testdrive p {
        margin: -2vh $gutter;
      }
      .double-height {
        height: $horizontal-single-item-height * 2;
        .nav-icon, .callout {
          margin: $vertical-spacer*1.75;
          max-height: $horizontal-single-item-height * 1.25 - $vertical-spacer*2;
          max-width: $horizontal-single-item-height * 1.25 - $vertical-spacer*2;
          @media screen and (orientation: portrait) { 
            margin: $portrait-vertical-spacer*1.75;
            max-height: $vertical-single-item-height * 1.25 - $portrait-vertical-spacer*2;
            max-width: $vertical-single-item-height * 1.25 - $portrait-vertical-spacer*2;
          }
        }
        p {
          @extend .bold-font;
          font-size: $feature-nav-font-size;
          margin: -2vh $gutter;
        }
      }
    }
    .double-height {
      height: $vertical-single-item-height * 2;
      .nav-icon, .callout {
        margin: $portrait-vertical-spacer;
        max-height: $vertical-single-item-height * 1.25 - $portrait-vertical-spacer*2;
        max-width: $vertical-single-item-height * 1.25 - $portrait-vertical-spacer*2;
      }
      p {
        @extend .bold-font;
        font-size: $feature-nav-font-size;
        margin: 0 $portrait-gutter;
        @media screen and (orientation: portrait) { 
          font-size: $portrait-feature-nav-font-size;
        }
      }
      .callout {

        @extend .thin-font;
        font-size: 12vh;
        letter-spacing: -.5vw;
        text-align: center;
   
        @media screen and (orientation: portrait) { 
          font-size: 6vh;
        }
        span {
          display: inline;
          font-size: 3vh;
          margin: 0 0 0 5px;
          vertical-align: super;
          @media screen and (orientation: portrait) { 
            font-size: 2vh;
          }
        }
        & + p {
          font-size: 2vh;
          margin-top: 0;
          text-transform: uppercase;
        }
      }
    }
    .double {
      float: left;
      margin-right: $portrait-gutter;
      .single-height {
        height: $vertical-single-item-height - $portrait-vertical-spacer/2;
        margin-right: 0;
      }
    }
    .third-width {
      float: left;
      margin-right: $portrait-gutter;
      width: ($app-width - $portrait-gutter*4) / 3;
    }
    .testdrive p {
      margin-left: 2vw;
      top: 2.5vh;
    }
    .right {
      margin-right: 0;
    }
    .two-third-width {
      float: left;
      margin-right: $portrait-gutter;
      width: (($app-width - $portrait-gutter*4)/3)*2 + $portrait-gutter;
    }
    .three-quarter-width {
      float: left;
      height: 100%;
      margin-right: $gutter;
      width: ($feature-navigation-area-width/4)*3 - $gutter;
      transition: .5s ease-out;
      @media screen and (orientation: portrait) { 
        margin-right: $portrait-gutter;
        width: ($app-width/10)*8 - $portrait-gutter;
      }
      &.wide{
        width:100%;
        @media screen and (orientation: portrait) { 
          width:96%;
        }
      }      
      .price {
        @extend .border;
        background: #fff;
        color: $intel-medium-dark-blue;
        height: 100%;
        float: left;
        line-height: 5.2vw;
        padding: 1.5vh $gutter 0;
        position: relative;
        text-align: right;
        width: 100%;
        z-index: 100;
        @media screen and (orientation: portrait) { 
          padding: 0 $portrait-gutter 0;
        }
        .price-label {
          font-size: 1.8vh;
          margin: 0 .8vw;
          position: relative;
          top: -4.5vh;
          @media screen and (orientation: portrait) { 
            font-size: 1.8vh;
            margin: 0 .8vw;
            top: -4.5vh;
          }
        }
        .large-price {
          font-size: 7vh;
          letter-spacing: -.4vw;
          line-height: 11vh;
          position: relative;
          top: -1.2vh;
          @media screen and (orientation: portrait) {
            letter-spacing: -.8vw;
            line-height: 9vh;
          }
        }
        .small-price {
          font-size: 3vh;
          letter-spacing: -.1vw;
          margin: 0 -.3vw;
          position: relative;
          top: -4vh;
          @media screen and (orientation: portrait) { 
            font-size: 3vh;
            letter-spacing: -.1vw;
            margin: 0 -.3vw;
            top: -4vh;
          }
        }
      }
    }
    .one-quarter-width {
      float: left;
      height: 100%;
      width: $feature-navigation-area-width/4;
      @media screen and (orientation: portrait) { 
        width: $app-width/5 - $portrait-gutter*2;
      }
      .pagination-button {
        height: 100%;
        float: left;
        width: 100%;
        .right{
          position:relative;
          top:50% !important;
          right:29% !important;
          height: 4px;
          width:25%;
          background-color:white;
          content: "hello";
          top:2vh;
          border-top-right-radius: 1em;
          border-bottom-right-radius:1em;
          float:right;
          transform:rotate(-45deg);
          transition: 0.2s ease-in;
          &.down {
            transform:rotate(45deg);
          }
        }
        .left{
          position:relative;
          top:50% !important;
          left:29% !important;
          height: 4px;
          width:26%;
          background-color:white;
          content: "hello";
          top:2vh;
          border-top-left-radius: 1em;
          border-bottom-left-radius:1em;
          float:left;
          transform:rotate(45deg);
          transition: 0.2s ease-in;
          &.down {
            transform:rotate(-45deg);
          }
        }
      }      
    }
  }
  .featured-area {
    float: right;
    font-size: $main-nav-font-size;
    margin-right: $gutter;
    width: $featured-area-width;
    @media screen and (orientation: portrait) { 
      float: left;
      width: $featured-area-portrait-width;
    }
    .main-nav {
      height: $horizontal-single-item-height;
      margin-bottom: $vertical-spacer;
      position: relative;
      @media screen and (orientation: portrait) { 
        overflow: hidden; /* NECESSARY? */
        height: $vertical-main-nav-item-height + $portrait-vertical-spacer;
        margin-bottom: $portrait-vertical-spacer;
      }
      .middle {
        margin: 0 $gutter;
        @media screen and (orientation: portrait) { 
          margin: 0 $portrait-gutter;
        }
      }
      a {
        display: block;
        float: left;
        text-align: center;
        width: $featured-area-width/3 - ($gutter*2)/3;
        height: $horizontal-single-item-height;
        line-height: $horizontal-single-item-height - 1vh;
        @media screen and (orientation: portrait) { 
          width: ($featured-area-portrait-width - $portrait-gutter*4) / 3;
          line-height: $vertical-single-item-height/1.25;
        }
      }
      .active {
        @extend .dark-blue-gradient;
      }
    }
    .featured-content {
      height: $horizontal-single-item-height * 6 + $vertical-spacer * 3;
      overflow: hidden;
      @media screen and (orientation: portrait) { 
        height: $featured-area-portrait-height;
        width: $featured-area-portrait-width - $portrait-gutter*2;
      }
      .nav2-container {
         top: ($horizontal-single-item-height * 7) + $vertical-spacer;
         height: 2vw;
         position: fixed;
         right: 4vw;
         z-index: 100000 !important;
         @media screen and (orientation: portrait) { 
           top: $vertical-single-item-height + $vertical-main-nav-item-height + $featured-area-portrait-height - $portrait-vertical-spacer*2;
           height: 4vw;
         }
      }
      .nav2-icon {
        background: url("../images/icons/icon-circle.svg") no-repeat center 600px;
        background-size: 100% 100%;
        cursor: pointer;
        height: 3vw;
        padding: 1.2vh;
        width: 3vw;
        /* transition: background 0.5s ease-in-out; */
      }
     .nav2-icon-selected {
       background: url("../images/icons/icon-circle.svg") no-repeat center top;
       background-size:100% 100%;
      }
      .animation-holder {
        display: none;
      }
      .content-container {
        display: none;
        padding: $content-device-gutter;
        .intro {
          padding-bottom: 6vh;
        }
        .title-label {
          font-size: 1.8vw;
          display: block;
          padding-bottom: 0.3vh;
          letter-spacing: 0.05vw;
        }
        .tag-lines {
          font-size: 2.4vw;
          display: block;
          padding-bottom: 2vh;
        }
        .overview-label {
          font-size: 1.95vw;
          width:54vw;
        }
        .content-icon {
          height:11.5vh;
        }
        .col-3 {
          text-align: center;
          width: 33.3%;
          float: left;
          padding-bottom: 2vh;
        }
        .content-superscript {
          vertical-align: top;
        }
        .top-content-labels {
          text-transform: uppercase;
          font-size: 1.6vw;
        }
        .column-one {
          color:$intel-light-orange;
          font-size: 5.3vw;
        }
        .column-one.content-superscript, .column-two.content-superscript, .column-three.content-superscript {
          font-size: 3vw;
        }
        .column-two {
          color:$intel-green;
          font-size: 5.3vw;
        }
        .column-three {
          font-size: 5.3vw;
          color:$intel-light-blue;
        }
        .col-3 img {
          max-height: 11.5vh;
        }
        .column-texts {
          
        }
        .copyright {
          font-size: 1.1vw;
          vertical-align: super;
        }
        .content-headers {
          width: 33.33%;
          float: left;
          text-align: center;
          font-size: 1.7vw;
        }
        .separator {
          width: 55%;
          height: 1px;
          background: #000;
          margin: 3vh 0vw 1vh 4.6vw;
        }
        .orange {
          background:$intel-light-orange;
        }
        .green {
          background: $intel-green;
        }
        .blue {
          background:$intel-light-blue;
        }
      }
    }
  }
}

.compare-container {
  top: $horizontal-single-item-height + $vertical-spacer;
  position: fixed;
  z-index: 1000;
  @media screen and (orientation: portrait) { 
    top: $vertical-single-item-height + $vertical-main-nav-item-height + $vertical-spacer*1.25;
  }
  img {
    height: $horizontal-single-item-height*6 + $vertical-spacer*4;
    width: $app-width - $gutter*2;
    @media screen and (orientation: portrait) { 
      height: $featured-area-portrait-height + $vertical-single-item-height*4 + $vertical-spacer*2.25;
      width: $app-width - $portrait-gutter*1.8;
    }
  }
}

.home-container {
  .home-intro {
    margin: 3vh 3vw 6vh;
    h1 {
      font-size: 2.6vh;
      margin-bottom: 1vh;
    }
    h2 {
      font-size: 4vh;
    }
  }
  .slide-holder {
    margin: 0 auto;
    width: $featured-area-width;
  }
  .slide {
    float: left;
    height: 20vw;
    margin-left: $gutter;
    width: ($featured-area-width - $gutter*4)/3;
    @media screen and (orientation: portrait) { 
      margin-left: $gutter;
    }
    p {
      position: relative;
      text-align: center;
      top: 14vh;
      @media screen and (orientation: portrait) { 
        top: 6vh;
      }
    }
    img {
      margin: ((($featured-area-width - $gutter*4)/3) - ((($featured-area-width - $gutter*4)/3)*.5))/2.5 0 0 ((($featured-area-width - $gutter*4)/3) - ((($featured-area-width - $gutter*4)/3)*.5))/2;
      max-width: (($featured-area-width - $gutter*4)/3)*.5;
      position: relative;
    }
  }
}

/* ===============================================================
Start Button 3d transform effect
================================================================*/

.menu-item-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px auto;
}

.features-nav-item {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform-origin: 0 0;
    transition: all 0.2s ease-out;
}

.menu-item-front {
  transform: rotateX(0deg);
}

.menu-item-back {
    transform: rotateX(-90deg);
    top: 100% !important;
}

.menu-item:hover {
  .menu-item-container {
    .menu-item-front {
      transform: rotateX(-90deg) translateY(-100%);
    }
    .menu-item-back {
      transform: rotateX(0deg) translateY(-100%);
    }
  }
}
