/*
Imports
---------------------------------------------------------------------- */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*
Vars
---------------------------------------------------------------------- */
/*
Mixins
---------------------------------------------------------------------- */
/*
Includes
---------------------------------------------------------------------- */
@font-face {
  font-family: "Clear Sans Regular";
  src: url("../font/ClearSans-Regular.woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Clear Sans Light";
  src: url("../font/ClearSans-Light.woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Clear Sans Thin";
  src: url("../font/ClearSans-Thin.woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Clear Sans Bold";
  src: url("../font/ClearSans-Bold.woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
/*
Elements
---------------------------------------------------------------------- */
/*   ===   TYPOGRAPHY
===============================   */
/* line 103, ../sass/style.scss */
.regular-font, .ipos-wrapper .feature-navigation-area div, .ipos-wrapper .feature-navigation-area .feature-nav-label {
  font-family: "Clear Sans Regular";
}

/* line 107, ../sass/style.scss */
.thin-font {
  font-family: "Clear Sans Thin";
}

/* line 111, ../sass/style.scss */
.light-font {
  font-family: "Clear Sans Light";
}

/* line 115, ../sass/style.scss */
.bold-font, .ipos-wrapper .feature-navigation-area .single-height p, .ipos-wrapper .feature-navigation-area .half-width .double-height p, .ipos-wrapper .feature-navigation-area .double-height p {
  font-family: "Clear Sans Bold";
}

/*   ===   GLOBALS   
===============================   */
/* line 122, ../sass/style.scss */
html, body {
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 132, ../sass/style.scss */
body {
  position: relative;
}

/* line 137, ../sass/style.scss */
img {
  max-height: 100%;
  max-width: 100%;
}

/* line 142, ../sass/style.scss */
.dark-blue-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzExNzJjMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA3NDQ4MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1172c1), color-stop(100%, #074481));
  background-image: -moz-linear-gradient(#1172c1, #074481);
  background-image: -webkit-linear-gradient(#1172c1, #074481);
  background-image: linear-gradient(#1172c1, #074481);
}

/* line 145, ../sass/style.scss */
.medium-blue-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5OTJmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExNzJjMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1992f5), color-stop(100%, #1172c1));
  background-image: -moz-linear-gradient(#1992f5, #1172c1);
  background-image: -webkit-linear-gradient(#1992f5, #1172c1);
  background-image: linear-gradient(#1992f5, #1172c1);
}

/* line 148, ../sass/style.scss */
.light-blue-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyZDNmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYWRlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82d3f5), color-stop(100%, #00adef));
  background-image: -moz-linear-gradient(#82d3f5, #00adef);
  background-image: -webkit-linear-gradient(#82d3f5, #00adef);
  background-image: linear-gradient(#82d3f5, #00adef);
}

/* line 151, ../sass/style.scss */
.orange-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZDExYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiYjczMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fed11c), color-stop(100%, #fbb731));
  background-image: -moz-linear-gradient(#fed11c, #fbb731);
  background-image: -webkit-linear-gradient(#fed11c, #fbb731);
  background-image: linear-gradient(#fed11c, #fbb731);
}

/* line 154, ../sass/style.scss */
.main-stage-gradient {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE4OGVlZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzEyNzZjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #188eef), color-stop(100%, #1276c7));
  background-image: -moz-linear-gradient(#188eef, #1276c7);
  background-image: -webkit-linear-gradient(#188eef, #1276c7);
  background-image: linear-gradient(#188eef, #1276c7);
}

/* line 158, ../sass/style.scss */
.border, .ipos-wrapper .logo, .ipos-wrapper .feature-navigation-area .three-quarter-width .price {
  border: 1px solid #cddae6;
  box-sizing: border-box;
}

/* line 163, ../sass/style.scss */
.interactive {
  box-shadow: 0.3vw 0.3vw 0 0 rgba(16, 32, 48, 0.2);
  cursor: pointer;
}

/*   ===   LAYOUT
===============================   */
/* line 171, ../sass/style.scss */
.ipos-wrapper {
  color: #fff;
  height: 100vh;
  width: 100vw;
}
/* line 175, ../sass/style.scss */
.ipos-wrapper > div {
  margin: 2vh 0 0 1.125vw;
}
@media screen and (orientation: portrait) {
  /* line 175, ../sass/style.scss */
  .ipos-wrapper > div {
    margin: 0.9vh 0 0 2vw;
  }
}
/* line 181, ../sass/style.scss */
.ipos-wrapper .logo {
  float: left;
  height: 12.4vh;
  line-height: 12.4vh;
  text-align: center;
  width: 30vw;
}
/* line 188, ../sass/style.scss */
.ipos-wrapper .logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (orientation: portrait) {
  /* line 181, ../sass/style.scss */
  .ipos-wrapper .logo {
    height: 7.6vh;
    line-height: 7.6vh;
    width: 96vw;
  }
}
/* line 197, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area {
  float: left;
  margin-top: 0;
}
/* line 200, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area div {
  margin-bottom: 2vh;
}
@media screen and (orientation: portrait) {
  /* line 200, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area div {
    margin-bottom: 0.9vh;
  }
}
/* line 207, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .features-nav {
  height: 68vh;
  margin-bottom: 0;
  margin-top: 2vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
@media screen and (orientation: portrait) {
  /* line 207, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .features-nav {
    height: 24.6vh;
    margin-top: 0.9vh;
    width: 100vw;
  }
}
/* line 220, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .features-nav .features-nav::-webkit-scrollbar {
  display: none;
}
/* line 223, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .features-nav .info-card {
  bottom: -100%;
  height: 68vh;
  margin: 0px;
  position: relative;
  transition: 1s;
  width: 30vw;
}
/* line 230, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .features-nav .info-card.show {
  bottom: 70vh;
}
@media screen and (orientation: portrait) {
  /* line 223, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .features-nav .info-card {
    width: 100vw;
  }
}
/* line 237, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .features-nav .info-card-closer {
  position: absolute;
  right: 0;
  top: 0;
  height: 2em;
  width: 2em;
  padding: 0.5em;
}
/* line 245, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .features-nav .feature-nav-active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZDExYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiYjczMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fed11c), color-stop(100%, #fbb731));
  background-image: -moz-linear-gradient(#fed11c, #fbb731);
  background-image: -webkit-linear-gradient(#fed11c, #fbb731);
  background-image: linear-gradient(#fed11c, #fbb731);
}
/* line 249, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .features-nav::-webkit-scrollbar {
  display: none;
}
/* line 252, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .feature-nav-label {
  display: block;
  font-size: 1.1vw;
  margin-bottom: .2vh;
}
@media screen and (orientation: portrait) {
  /* line 252, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .feature-nav-label {
    font-size: 1.4vh;
  }
}
/* line 261, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .single-height {
  clear: both;
  height: 12.4vh;
  width: 30vw;
}
@media screen and (orientation: portrait) {
  /* line 261, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .single-height {
    height: 7.6vh;
  }
}
/* line 268, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .single-height .nav-icon {
  display: inline-block;
  float: left;
  margin: 1.5vh;
  max-height: 8.4vh;
  max-width: 8.4vh;
}
@media screen and (orientation: portrait) {
  /* line 268, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .single-height .nav-icon {
    margin: 0.675vh;
    max-height: 5.8vh;
    max-width: 5.8vh;
  }
}
/* line 280, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .single-height p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  font-size: 1.2vw;
}
@media screen and (orientation: portrait) {
  /* line 280, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .single-height p {
    font-size: 1.5vh;
  }
}
/* line 290, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width {
  clear: both;
}
/* line 292, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width div {
  float: left;
  width: 14.4375vw;
}
/* line 295, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width div:first-child {
  margin-right: 1.125vw;
}
/* line 299, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width .half-width-single-holder {
  height: 0;
}
/* line 301, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width .half-width-single-holder .single-height {
  height: 11.4vh;
}
/* line 305, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width .single-height {
  clear: right;
}
/* line 307, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width .single-height .nav-icon {
  display: inline-block;
  float: left;
  margin: 1.5vh;
  max-height: 8.4vh;
  max-width: 8.4vh;
}
/* line 314, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width .single-height p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
}
/* line 319, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width .double-height {
  height: 24.8vh;
}
/* line 321, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width .double-height .nav-icon {
  margin: 3.5vh;
  max-height: 11.5vh;
  max-width: 11.5vh;
}
@media screen and (orientation: portrait) {
  /* line 321, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .half-width .double-height .nav-icon {
    margin: 1.575vh;
    max-height: 7.7vh;
    max-width: 7.7vh;
  }
}
/* line 331, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .half-width .double-height p {
  font-size: 1.2vw;
  margin: -2vh 1.125vw;
}
/* line 338, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .double-height {
  height: 15.2vh;
}
/* line 340, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .double-height .nav-icon {
  margin: 0.9vh;
  max-height: 7.7vh;
  max-width: 7.7vh;
}
/* line 345, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .double-height p {
  font-size: 1.2vw;
  margin: 0 2vw;
}
@media screen and (orientation: portrait) {
  /* line 345, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .double-height p {
    font-size: 1.5vh;
  }
}
/* line 354, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .double {
  float: left;
  margin-right: 2vw;
}
/* line 357, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .double .single-height {
  height: 7.15vh;
  margin-right: 0;
}
/* line 362, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .third-width {
  float: left;
  margin-right: 2vw;
  width: 30.66667vw;
}
/* line 367, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .right {
  margin-right: 0;
}
/* line 370, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .two-third-width {
  float: left;
  margin-right: 2vw;
  width: 63.33333vw;
}
/* line 375, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .three-quarter-width {
  float: left;
  height: 100%;
  margin-right: 1.125vw;
  width: 21.375vw;
}
@media screen and (orientation: portrait) {
  /* line 375, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .three-quarter-width {
    margin-right: 2vw;
    width: 78vw;
  }
}
/* line 384, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .three-quarter-width .price {
  color: #1172c1;
  height: 100%;
  float: left;
  line-height: 5.2vw;
  padding: 1.5vh 1.125vw 0;
  text-align: right;
  width: 100%;
}
@media screen and (orientation: portrait) {
  /* line 384, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .three-quarter-width .price {
    padding: 0 2vw 0;
  }
}
/* line 396, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .three-quarter-width .price .price-label {
  font-size: 1.8vh;
  margin: 0 .8vw;
  position: relative;
  top: -4.5vh;
}
@media screen and (orientation: portrait) {
  /* line 396, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .three-quarter-width .price .price-label {
    font-size: 1.8vh;
    margin: 0 .8vw;
    top: -4.5vh;
  }
}
/* line 407, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .three-quarter-width .price .large-price {
  font-size: 7vh;
  letter-spacing: -.4vw;
  line-height: 11vh;
  position: relative;
  top: -1.2vh;
}
@media screen and (orientation: portrait) {
  /* line 407, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .three-quarter-width .price .large-price {
    letter-spacing: -.8vw;
    line-height: 9vh;
  }
}
/* line 418, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .three-quarter-width .price .small-price {
  font-size: 3vh;
  letter-spacing: -.1vw;
  margin: 0 -.3vw;
  position: relative;
  top: -4vh;
}
@media screen and (orientation: portrait) {
  /* line 418, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .three-quarter-width .price .small-price {
    font-size: 3vh;
    letter-spacing: -.1vw;
    margin: 0 -.3vw;
    top: -4vh;
  }
}
/* line 433, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .one-quarter-width {
  float: left;
  height: 100%;
  width: 7.5vw;
}
@media screen and (orientation: portrait) {
  /* line 433, ../sass/style.scss */
  .ipos-wrapper .feature-navigation-area .one-quarter-width {
    width: 16vw;
  }
}
/* line 440, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .one-quarter-width .pagination-button {
  height: 100%;
  float: left;
  width: 100%;
}
/* line 444, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .one-quarter-width .pagination-button .right {
  position: relative;
  top: 50% !important;
  right: 29% !important;
  height: 4px;
  width: 25%;
  background-color: white;
  content: "hello";
  top: 2vh;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  float: right;
  transform: rotate(-45deg);
  transition: 0.2s ease-in;
}
/* line 458, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .one-quarter-width .pagination-button .right.down {
  transform: rotate(45deg);
}
/* line 462, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .one-quarter-width .pagination-button .left {
  position: relative;
  top: 50% !important;
  left: 29% !important;
  height: 4px;
  width: 26%;
  background-color: white;
  content: "hello";
  top: 2vh;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  float: left;
  transform: rotate(45deg);
  transition: 0.2s ease-in;
}
/* line 476, ../sass/style.scss */
.ipos-wrapper .feature-navigation-area .one-quarter-width .pagination-button .left.down {
  transform: rotate(-45deg);
}
/* line 483, ../sass/style.scss */
.ipos-wrapper .featured-area {
  float: right;
  font-size: 2vw;
  margin-right: 1.125vw;
  width: 66.625vw;
}
@media screen and (orientation: portrait) {
  /* line 483, ../sass/style.scss */
  .ipos-wrapper .featured-area {
    float: left;
    width: 100vw;
  }
}
/* line 492, ../sass/style.scss */
.ipos-wrapper .featured-area .main-nav {
  height: 12.4vh;
  margin-bottom: 2vh;
  position: relative;
}
@media screen and (orientation: portrait) {
  /* line 492, ../sass/style.scss */
  .ipos-wrapper .featured-area .main-nav {
    overflow: hidden;
    /* NECESSARY? */
    height: 6.15vh;
    margin-bottom: 0.9vh;
  }
}
/* line 501, ../sass/style.scss */
.ipos-wrapper .featured-area .main-nav .middle {
  margin: 0 1.125vw;
}
@media screen and (orientation: portrait) {
  /* line 501, ../sass/style.scss */
  .ipos-wrapper .featured-area .main-nav .middle {
    margin: 0 2vw;
  }
}
/* line 507, ../sass/style.scss */
.ipos-wrapper .featured-area .main-nav a {
  display: block;
  float: left;
  text-align: center;
  width: 21.45833vw;
  height: 12.4vh;
  line-height: 11.4vh;
}
@media screen and (orientation: portrait) {
  /* line 507, ../sass/style.scss */
  .ipos-wrapper .featured-area .main-nav a {
    width: 30.66667vw;
    line-height: 6.08vh;
  }
}
/* line 520, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content {
  height: 80.4vh;
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  /* line 520, ../sass/style.scss */
  .ipos-wrapper .featured-area .featured-content {
    height: 48vh;
    width: 96vw;
  }
}
/* line 527, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .nav2-container {
  top: 88.8vh;
  height: 2vw;
  position: fixed;
  right: 4vw;
  z-index: 100000 !important;
}
@media screen and (orientation: portrait) {
  /* line 527, ../sass/style.scss */
  .ipos-wrapper .featured-area .featured-content .nav2-container {
    top: 59.05vh;
    height: 4vw;
  }
}
/* line 538, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .nav2-icon {
  background: url("../images/icons/icon-circle.svg") no-repeat center 600px;
  background-size: 100% 100%;
  cursor: pointer;
  height: 3vw;
  padding: 1.2vh;
  width: 3vw;
  /* transition: background 0.5s ease-in-out; */
}
/* line 547, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .nav2-icon-selected {
  background: url("../images/icons/icon-circle.svg") no-repeat center top;
  background-size: 100% 100%;
}
/* line 551, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .animation-holder {
  display: none;
}
/* line 554, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container {
  display: none;
  padding: 2.4vw 4vh;
}
/* line 557, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .intro {
  padding-bottom: 6vh;
}
/* line 560, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .title-label {
  font-size: 1.8vw;
  display: block;
  padding-bottom: 0.3vh;
  letter-spacing: 0.05vw;
}
/* line 566, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .tag-lines {
  font-size: 2.4vw;
  display: block;
  padding-bottom: 2vh;
}
/* line 571, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .overview-label {
  font-size: 1.66vw;
  width: 54vw;
}
/* line 575, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .content-icon {
  height: 11.5vh;
}
/* line 578, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .col-3 {
  text-align: center;
  width: 33.3%;
  float: left;
  padding-bottom: 2vh;
}
/* line 584, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .content-superscript {
  vertical-align: top;
}
/* line 587, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .top-content-labels {
  text-transform: uppercase;
  font-size: 1.6vw;
}
/* line 591, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .column-one {
  color: #fed11c;
  font-size: 5.3vw;
}
/* line 595, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .column-one.content-superscript, .ipos-wrapper .featured-area .featured-content .content-container .column-two.content-superscript, .ipos-wrapper .featured-area .featured-content .content-container .column-three.content-superscript {
  font-size: 3vw;
}
/* line 598, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .column-two {
  color: #a7ce37;
  font-size: 5.3vw;
}
/* line 602, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .column-three {
  font-size: 5.3vw;
  color: #82d3f5;
}
/* line 606, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .col-3 img {
  max-height: 11.5vh;
}
/* line 612, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .copyright {
  font-size: 1.1vw;
  vertical-align: super;
}
/* line 616, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .content-headers {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 1.7vw;
}
/* line 622, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .separator {
  width: 55%;
  height: 1px;
  background: #000;
  margin: 3vh 0vw 1vh 4.6vw;
}
/* line 628, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .orange {
  background: #fed11c;
}
/* line 631, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .green {
  background: #a7ce37;
}
/* line 634, ../sass/style.scss */
.ipos-wrapper .featured-area .featured-content .content-container .blue {
  background: #82d3f5;
}

/*
BELOW THIS LINE IS SWIPER CODE FOR THE CAROUSEL
---------------------------------------------------------------------- */
/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/
/* ===============================================================
Basic Swiper Styles 
================================================================*/
/* line 664, ../sass/style.scss */
.swiper-container {
  backface-visibility: hidden;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -ms-backface-visibility: hidden;
}

/* line 672, ../sass/style.scss */
.swiper-wrapper {
  position: relative;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  width: 100%;
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
}

/* line 684, ../sass/style.scss */
.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
  -ms-transition-timing-function: ease-out;
}

/* line 689, ../sass/style.scss */
.swiper-slide {
  float: left;
}

/* IE10 Windows Phone 8 Fixes */
/* line 694, ../sass/style.scss */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

/* line 697, ../sass/style.scss */
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
3D
================================================================*/
/* line 705, ../sass/style.scss */
.swiper-container, .swiper-wrapper, .swiper-slide {
  transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
}

/* line 709, ../sass/style.scss */
.swiper-container {
  perspective: 1200px;
  -ms-perspective: 1200px;
}

/* line 713, ../sass/style.scss */
.swiper-wrapper {
  /* Windows 8 IE 10 fix */
  -ms-perspective: 1200px;
}

/* line 719, ../sass/style.scss */
.swiper-slide-shadow-left, .swiper-slide-shadow-right, .swiper-slide-shadow-top, .swiper-slide-shadow-bottom {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 727, ../sass/style.scss */
.swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

/* line 730, ../sass/style.scss */
.swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

/* line 733, ../sass/style.scss */
.swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* line 736, ../sass/style.scss */
.swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* ===============================================================
Custom carousel styles
================================================================*/
/* line 743, ../sass/style.scss */
.swiper-container {
  height: 35vh;
  padding: 17.5vh 0;
}
@media screen and (orientation: portrait) {
  /* line 743, ../sass/style.scss */
  .swiper-container {
    height: 19.44444vh;
    padding: 9vh 0;
  }
}

/* line 751, ../sass/style.scss */
.swiper-slide {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgyZDNmNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwYWRlZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #82d3f5), color-stop(100%, #00adef));
  background-image: -moz-linear-gradient(#82d3f5, #00adef);
  background-image: -webkit-linear-gradient(#82d3f5, #00adef);
  background-image: linear-gradient(#82d3f5, #00adef);
}

/* line 754, ../sass/style.scss */
.swiper-slide-active + div {
  /* @include background-image($orange-gradient); */
  z-index: 10000 !important;
}

/* line 758, ../sass/style.scss */
.swiper-container .swiper-slide .slide-label {
  font-size: 3vh;
  margin-top: 37vh;
  text-align: center;
}
@media screen and (orientation: portrait) {
  /* line 758, ../sass/style.scss */
  .swiper-container .swiper-slide .slide-label {
    margin-top: 21.875vh;
  }
}
